@import "tailwindcss";

#root {
  margin: auto;
  display: flex;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  overflow-x: hidden;
  overflow-y: hidden;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #0c0a09;
  font-family: "Oswald", sans-serif;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

a {
  text-decoration: underline;
  cursor: pointer;
}

a:hover {
  color: #9d174d;
}

button {
  cursor: pointer;
  text-decoration: underline;
}

button:hover {
  background-color: #9d174d;
}

/* Hide scrollbar in Chrome, Safari, and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar in IE, Edge, and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
